venv
__pycache__
.idea
build
benchmark_results
fjs_benchmarks
/tests/benchmark_output.py
/tests/schedule_output.py
/.ipynb_checkpoints
example_output
JSSP.egg-info
dist
*.c
*.so
.eggs
/docs/_build
/data/given_data/convert_csv_to_rst.py
/JSSP/test_parameters.json
/tests/benchmark_output/
